<ul class="password-requirements" data-password-requirements="{{ input_id }}" aria-live="polite">
  <li class="password-rule invalid" data-password-rule="length">At least 8 characters</li>
  <li class="password-rule invalid" data-password-rule="lower">Lowercase letter</li>
  <li class="password-rule invalid" data-password-rule="upper">Uppercase letter</li>
  <li class="password-rule invalid" data-password-rule="number">Number</li>
  <li class="password-rule invalid" data-password-rule="special">Special character</li>
</ul>
